@import "./config/default";
@import "./config/media";
@import "./config/mixin";
@import "./modules";

.btn-primary {
  display: inline-block;
  height: 48px;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid $brown;
  color: $brown;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  font-family: "Readex Pro", sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(181, 149, 120);
    z-index: -1;
    transition: transform 0.7s ease-out;
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  &:hover {
    color: $white;
    transition: all 0.7s;
  }
}

.cursor-default {
  position: fixed; // absolute X
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.8;
  z-index: 999;
  pointer-events: none;
}

.cursor-small {
  position: fixed;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  background: $brown;
  z-index: 999;
  pointer-events: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-size: cover;
  opacity: 0;
}

.cursor-left {
  background: url("../images/arrow-left.png") no-repeat;
  &.active {
    opacity: 1;
  }
}

.cursor-right {
  background: url("../images/arrow-right.png") no-repeat;
  &.active {
    opacity: 1;
  }
}

.bgcolor {
  width: 70%;
  height: 100vh;
  background: $light-brown;
  position: absolute;
  right: 0;
  top: 0;
}

section {
  padding: 6rem 6%;
}

h2 {
  font-size: 3.5rem;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 85px;
}

.test {
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
}

.menu-mobile {
  width: 28px;
  height: 14px;
  position: absolute;
  top: 63px;
  right: 34px;
  z-index: 102;
  display: none;

  .bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .bar {
      width: 100%;
      height: 3px;
      background: $brown;
      transition: all 0.5s ease;
      transform-origin: center;
    }

    &:nth-child(2) {
      .bar {
        width: 0;
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-3px, 3px);
        }
        &:nth-child(2) {
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
    }
  }

  &.open {
    .bars:nth-child(1) {
      .bar:nth-child(1) {
        @include animation(fold, 0.5s, ease);
      }
      .bar:nth-child(2) {
        @include animation(fold, 0.5s, ease, 0.2s);
      }
    }
    .bars:nth-child(2) {
      .bar:nth-child(1) {
        @include animation(unfold, 0.5s, ease, 0.6s);
      }
      .bar:nth-child(2) {
        @include animation(unfold, 0.5s, ease, 0.8s);
      }
    }
  }

  &.close {
    .bars:nth-child(2) {
      .bar {
        width: 100%;
        &:nth-child(1) {
          @include animation(fold, 0.5s, ease);
        }
        &:nth-child(2) {
          @include animation(fold, 0.5s, ease, 0.2s);
        }
      }
    }
    .bars:nth-child(1) {
      .bar {
        width: 0;
        &:nth-child(1) {
          @include animation(unfold, 0.3s, ease, 0.4s);
        }
        &:nth-child(2) {
          @include animation(unfold, 0.3s, ease, 0.6s);
        }
      }
    }
  }

  @include mobile {
    display: block;
  }
}

.banner {
  width: 100%;
  position: relative;
  .banner-content {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    p {
      font-size: 3.5rem;
      font-family: "Nanum Myeongjo", serif;
      font-weight: 400;
      color: $white;
      text-transform: uppercase;
      white-space: pre-line;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 3rem;
    }

    a {
      width: 180px;
      display: block;
      margin: 0 auto;
      color: $white;
      border: 1px solid $white;
    }
  }
}

// tablet
@include tablet {
  .shops .shop-container {
    grid-template-rows: 250px 250px;
  }

  .footer-left {
    flex-direction: column;
    align-items: stretch;
    ul {
      padding-left: 0px;
      padding-top: 24px;
    }
  }
}

// mobile
@include mobile {
  h2 {
    font-size: 1.8rem;
    margin-bottom: 36px;
  }

  section {
    padding: 3.5rem 6%;
  }

  .bgcolor {
    height: 85vh;
  }

  .header {
    padding: 2rem 2rem;
    .menu {
      display: none;
    }
  }

  .logo-container {
    img {
      max-width: 100px;
    }
    ul {
      display: none;
    }
  }

  .visual {
    top: 0px;
    margin-bottom: 0;
    background-size: calc(200px + 25vw);
    .main-text {
      left: 9%;
    }
  }

  // history
  .history {
    padding: 0;
    margin-top: -100px;
    flex-direction: column;
    gap: 0;
    .history-img {
      flex: 0;
      padding-right: 2rem;
    }
    .history-txt {
      flex: 0;
      width: 100%;
      padding: 2rem;
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  // selection
  .selection .titlentab {
    margin-bottom: 36px;
    .selection-tab {
      min-width: 55%;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }

  // shops
  .shops {
    .shop-container {
      grid-template-rows: repeat(3, 170px);
      span {
        font-size: 1.5rem;
      }
      .woman {
        grid-area: 1/1/2/4;
        span {
          left: 7%;
        }
      }
      .man {
        grid-area: 2/1/2/4;
      }
      .brand {
        grid-area: 3/1/3/4;
        span {
          top: 38%;
          left: 7%;
        }
      }
    }
  }

  // insights
  .insights {
    padding: 3.5rem 0;
    padding-bottom: 0;
    .content {
      flex-direction: column;
      gap: 0;
      margin-bottom: 0;
      .imgBox {
        height: 330px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .insight-img1 {
        flex: 0;
        width: 100%;
      }
      .insight-txt {
        width: 100%;
        padding: 2rem 6%;
        flex: 0;
        h3 {
          font-size: 1.5rem;
          margin-bottom: 16px;
        }
      }
    }
  }

  .insights2 {
    .content {
      flex-direction: column-reverse;
      gap: 2rem;
      .insight-img2 {
        flex: 0;
      }
      .insight-txt {
        width: 100%;
        flex: 0;
        padding-right: 6%;
        h3 {
          font-size: 1.5rem;
          margin-bottom: 16px;
        }
      }
    }
  }

  // film
  .film {
    display: block;
    .film-txt {
      width: 100%;
      h2 {
        font-size: 1.8rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      p {
        margin-bottom: 60px;
      }
      .arrow {
        top: 65px;
      }
    }
    .film-carousel .film-item-wrap {
      height: 240px;
      .imgBox {
        width: 415px;
      }
    }
  }

  .banner .banner-content {
    width: 100%;
    p {
      font-size: 2rem;
    }
  }

  // footer
  .footer {
    .footer-gnb {
      flex-direction: column;
      align-items: center;
      .footer-left {
        align-items: center;
        margin-bottom: 40px;
        ul {
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }
}
