@import './default';

// main animation
@include keyframe(pilloff) {
  100% {
    width: 0;
  }
}

@include keyframe(pilloff-1) {
  100% {
    transform: translate(101%); // 100%가 마지막에 선이 살짝 보여서 101%로
  }
}

@include keyframe(fadein) {
  100% {
    opacity: 1;
  }
}

@include keyframe(slidein) {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// hamburger menu animation
@include keyframe(fold) {
  100% {
    width: 0;
  }
}

@include keyframe(unfold) {
  100% {
    width: 100%;
  }
}
